:root{
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body{
  background-color: #001220;
  overflow-x: hidden;
}

.spacer{
  aspect-ratio: 2560/300;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
}

.layer1{
  background-image: url(layeredred.svg);
}

.layer2{
  background-image: url(layeredblue.svg);
}

.layer3{
  background-image: url(layeredbluef.svg);
}

.layer4{
  background-image: url(layeredpurp.svg);
}
body h1{
  color: #f7f7f7;
  font-family: "robotobold";
}

body p{
  font-family: "roboto";
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(wave-haikei.svg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/*creates underline then allows it to load when hovered*/
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background-color: red;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  /*centers text in the center of the div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0px 40px;
  color: white;
  font-size: 14px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color:white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  background: transparent;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid red;
  background-color: red;
  transition: 1s;
}

nav .fa {
  display: none;
}

/*small screen media quiery*/
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: blue;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -2000px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: orange;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links {
    padding: 30px;
  }
}


.page-btn {
  display: inline-block;
  text-decoration: none;
  color:white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  background: transparent;
  cursor: pointer;
}

.page-btn:hover {
  border: 1px solid red;
  background-color: red;
  transition: 1s;
  color: white;
}

/*about*/

.about {
  background-color: #001220;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}

.about h1 {
  font-size: 40px;
  font-weight: 600;
  color: #f7f7f7;
}

.desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  color: #f7f7f7;
}

.about p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*add gradient org->purp blue-red hover*/
.about-col {
  flex-basis: 31%;
  background-color: #1B1B1D;
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 1s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0px;
}

.about-col:hover {
  box-shadow: 0 0 20px .5px grey;
}

.row img{
  width: 128px;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*projects*/
.project {
  width: 100%;
  padding-top: 100px;
  margin: auto;
  text-align: center;
  color: #f7f7f7;
  background-color: #002d72;
}

.project-col {
  flex-basis: 32%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.project-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: red;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: green;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*facilities*/

.spot {
  color: #f7f7f7;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #002d72;
  padding-top: 50px;
}

.spot h1{
  padding-bottom: 10px;
}

.spot-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 15px;
}

.spot-col img {
  filter: grayscale(100%);
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 10px;
  background-color: transparent;
  transition: 1s;
}

.spot-col img:hover {
  filter: grayscale(0%);
}

.spot-cont{
  margin-top: 5%;
  flex-basis: 31%;
  width: 342px;
  height: 381px;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
  background-color: #1B1B1D;
  box-sizing: border-box;
  padding: 20px 15px;
}

.spot-col a{
  margin-top: 15px;
}

.spot-col p {
  padding: 0;
  color: #f7f7f7;
}

.spot-col h3 {
  color: #f7f7f7;
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}

/*testimonials*/
.testimonials {
  width: 100%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  background-color: #120920;
  color: #f7f7f7;
}

.testimonial-col {
  flex-basis: 40%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #c6c3c3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-col p {
  padding: 0;
  color: black;
}

.testimonial-col h3 {
  text-align: left;
  margin-top: 15px;
  color: black;
}

@media (max-width: 700px) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*call-to-action*/
.call-to-action {
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/comp.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 50px;
}

.call-to-action h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .call-to-action h1 {
    font-size: 24px;
  }
}

/*footer*/

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color:white;
  color: #f7f7f7;
  background-color: #1e004b;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: #f7f7f7;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.footer a{
  padding-top: 5px;
  color: white;
  text-decoration: none;
  font-family: "roboto" ;
}

.footer a:hover{
  text-decoration: underline;
}

/*error page*/
.error {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url(symbol-scatter-haikei.svg);
}

.error-text-box {
  width: 90%;
  color: black;
  position: absolute;
  /*centers text in the center of the div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-text-box h1 {
  font-size: 62px;
  color: #C62368;
}

.error-text-box p {
  margin: 10px 0px 40px;
  color: #C62368;
  font-size: 14px;
}

@font-face {
  font-family: "robotobold";
  src: url(fonts/static/RobotoMono-BoldItalic.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(fonts/static/RobotoMono-Regular.ttf);
}